<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <%- include(urls.global_dependencies(), locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>


</head>

<body class="h-screen grid" style="height: calc(100vh); grid-template-rows: auto 1fr auto;">
    <%- include(urls.footer_navbar.navbar(), locals) %>
    <div class="">
        <div class="bg-neutral-800 border-black-200 dark:bg-black-300 h-full flex">
            <div class="w-1/6 bg-neutral-800 flex items-center justify-center">
                <button id="prev" class="text-white w-28 h-28">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </button>
            </div> <!-- left element container -->

            <div id="image-container" class="shadow mx-auto rounded-lg bg-white h-full w-4/6 flex">
                <img id="image" src="https://img.freepik.com/premium-photo/woman-s-face-is-made-up-geometric-shapes-cyberpunk-colorful-fractalism-cubism_834088-1.jpg" alt="" class="rounded-t-lg h-full w-full object-cover" />
            </div>

            <div class="w-1/6 bg-neutral-800 flex items-center justify-center">
                <button id="next" class="text-white w-28 h-28">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>

        </div>

    </div>
    
    
    <div class="flex bg-red-900 h-20 bottom-0">
        <div class="bg-neutral-800 flex w-96  items-center justify-center ...">
                    <h2 class="ml-3 font-bold text-center text-2xl text-white line-clamp-1" title="New York ">
                        report
                    </h2>
                    <!-- Modal toggle -->
                    <div class="mt-1 inline-flex items-center">
                        <a href="#" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="w-14 flex items-center font-medium text-white-800 block text-white 
                        hover:bg-gray-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center 
                        ">
                            <svg class="ml-2 w-7 h-7 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 480 512" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
        
        <div class="bg-neutral-800 w-4/6 flex items-center justify-center ...">
            <h2 class="font-bold text-3xl text-white line-clamp-1 mr-2" title="New York ">
                Statue of Liberty
            </h2>
            <!-- Modal toggle -->
            <a href="#" data-modal-target="downloadModal" data-modal-toggle="downloadModal" class="w-14 flex items-center font-medium text-white-800 block text-white 
                    hover:bg-gray-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center 
                    ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
            </a>
        </div>
        <div class="bg-neutral-800 flex w-96 items-center justify-center ...">
            <button id="like-button" class="w-20 flex items-center font-medium text-white-800 block text-white
            hover:bg-gray-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center
            ">
                <svg class="w-8 h-8 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"></path></svg>
                <span id="total-likes" class="text-2xl"></span>
            </button>
            <!-- <a href="#" data-modal-target="likeModal" data-modal-toggle="likeModal" class="w-20 flex items-center font-medium text-white-800 block text-white
                                hover:bg-gray-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center
                                ">
                <svg class="w-8 h-8 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"></path></svg>
                <span class="text-2xl">2</span>
            </a> -->
        
            <a href="#" data-modal-target="commentModal" data-modal-toggle="commentModal" class="w-20 flex items-center font-medium text-white-800 block text-white
                                hover:bg-gray-400 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center
                                ">
                <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
                <span class="text-2xl">3</span>
            </a>
        </div>


        <%- include(urls.collections.components.saveVideoModal(), locals) %>
        <!-- TODO: Rename Missleading -->
        <%- include(urls.collections.components.reportModal(), locals) %>
        <%- include(urls.collections.components.commentsModal(), locals) %>
    </div>


    <script>
        const images = [
            'https://img.freepik.com/premium-photo/woman-s-face-is-made-up-geometric-shapes-cyberpunk-colorful-fractalism-cubism_834088-1.jpg',
            'https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022_960_720.jpg',
            'https://cdn.pixabay.com/photo/2021/04/13/06/33/crocus-6177145_960_720.jpg'
        ];

        let currentIndex = 0;
        const imageElement = document.getElementById('image');
        const prevButton = document.getElementById('prev');
        const nextButton = document.getElementById('next');

        prevButton.addEventListener('click', () => {
            if (currentIndex > 0) {
                currentIndex--;
                imageElement.src = images[currentIndex];
            }
        });

        nextButton.addEventListener('click', () => {
            if (currentIndex < images.length - 1) {
                currentIndex++;
                imageElement.src = images[currentIndex];
            }
        });

        let collectionId = parseInt(`<%= req.query.id ?? -1 %>`);
        
        $(document).ready(async function() {
            const totalLikes = await get("/like-comment-service/like-comment/get-post/" + collectionId, {})
            console.log(totalLikes.post_likes)
            document.getElementById("total-likes").textContent = totalLikes.post_likes;
        });

        $(document).ready(async function() {
            let likeButton = document.getElementById("like-button");
            
            likeButton.addEventListener("click", async function() {
                const response = await post("/like-comment-service/like-comment/like/" + collectionId, {})
                if (response.liked) {
                    likeButton.classList.add("liked"); 
                } else {
                    likeButton.classList.remove("liked");
                }
                location.reload();
            });
        });
    </script>


    <%- include(urls.footer_navbar.footer(), locals) %>
</body>
</html>

