<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Image</title>

    <%- include(urls.collections.dependencies(), locals) %>
    <%- include(urls.global_dependencies(), locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include(urls.footer_navbar.navbar(), locals) %>
    <div class="collections-outter-container">
        <div class="flex flex-row items-center pt-3 pb-6 justify-between">
            <h1 class="text-2xl font-bold"> Choose Image to Add to Collection </h1>
            <div class="mb-4 flex justify-center pt-5">
                <button class="hidden done-button
                               bg-gray-500 hover:bg-gray-700 text-white font-bold py-3 px-5 rounded
                               focus:outline-none focus:shadow-outline text-xl rounded-full"
                        type="button"
                        onclick="window.location.href = `/`;">
                    Done
                </button>
            </div>
        </div>

        <%- include("components/-generated-image-card.ejs", locals) %>
        <div class="container-of-all-images
                    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6 w-full">
            <div class="flex items-center justify-center w-full h-full">
                <div class="flex justify-center items-center space-x-1 text-sm text-gray-700">
                    <div
                      class="ml-auto inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                      role="status">
                    </div>
                    <div class="pl-4">
                        <h1 class="text-2xl">Please Wait...</h1>
                        <h3 class="progress-text"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include(urls.footer_navbar.footer(), locals) %>
</body>
</html>

<script>
    const collection_id = parseInt(`<%=req.query.id??-1%>`);
    const generate_token = `<%=req.query.token??-1%>`;
    const url_generated_image = `<%= urls.collections.addImageToCollectionPage() %>`;
    const url_get_generated_image = joinUrl(
        `<%= urls.collections.getGeneratedImages() %>`, `${generate_token}`
    );

    if (collection_id === -1) {
        window.location.href = `/`;
    }

    $(document).ready(async function() {
  const generate_button = $(".generate-button");
  const progress_text = $(".progress-text");

  let generate_status;
  let get_response;
  let startTime = Date.now();

  do {
    get_response = await get(url_get_generated_image, {});
    generate_status = get_response.status;

    // Calculate progress time
    const currentTime = Date.now();
    const elapsedTime = currentTime - startTime;
    const seconds = Math.floor(elapsedTime / 1000);
    const minutes = Math.floor(seconds / 60);
    const remainingSeconds = seconds % 60;

    // Update progress text
    progress_text.text(`Generating image... ${minutes}m ${remainingSeconds}s`);
  } while (generate_status === 'In Progress');

        const b64_images = get_response.value;
        const image_container = $(".container-of-all-images");
        image_container.empty()
        for (const image of b64_images) {
            spawnNewImageCard(
                collection_id,
                image,
                image_container
            );
        }
        $(".done-button").removeClass("hidden");
    });
</script>