<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>

    <%- include(urls.global_dependencies(), locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include(urls.footer_navbar.navbar(), locals) %>
    <div class="container mx-auto h-90 p-5">
        <div class="flex flex-row items-center justify-center pt-5 pb-7">

            <div class="pr-3">
                <h1 class="text-2xl font-bold">Add New Image</h1>  
            </div>

        </div>


        <div class="grid grid-cols-5 grid-row-9 gap-6 h-full">

            <div class="col-start-2 col-span-3">
                <textarea id="prompt" rows="4" 
                class="block p-2.5 w-full h-full 
                text-sm text-gray-900 bg-gray-50 rounded-lg 
                border border-gray-300 focus:ring-blue-500 focus:border-blue-500 
                dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Image prompt..." text-lg></textarea>               
            </div>
        </div>

        <div class="flex mt-10 justify-center">
            <button
                    type="button"
                    class="generate-button w-40 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Generate
            </button>
        </div>

    </div>
    <%- include(urls.footer_navbar.footer(), locals) %>
</body>
</html>

<script>
    const collection_id = parseInt(`<%=req.query.id??-1%>`);
    const url_generated_image_page = `<%= urls.collections.addImageToCollectionPage() %>`;
    const url_generator = `<%= urls.collections.generateImages() %>`

    if (collection_id === -1) {
        window.location.href = `/`;
    }

    $(document).ready(function() {
        const generate_button = $(".generate-button");
        const prompt_area = $("#prompt");

        generate_button.on('click', async function() {
            console.log(url_generator);
            const response = await post(url_generator, {
                "prompt": prompt_area.val()
            });
            console.log(response);
            console.log(prompt_area.val())

            window.location.href = `${url_generated_image_page}?token=${response.token}&id=${collection_id}`;
        });
    });
</script>
