<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Collections</title>

    <%- include(urls.collections.dependencies(), locals) %>
    <%- include(urls.global_dependencies(), locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include(urls.footer_navbar.navbar(), locals) %>
    <div class="collections-outter-container">
        <div class="flex flex-row items-center pt-5 pb-7">

            <div class="pr-3">
                <h1 class="text-2xl font-bold">Popular Collections</h1>  
            </div>

        </div>


        <%- include("-card-collections.ejs", locals) %>
        <div class="container-of-all-collections
                    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
            Loading
        </div>

    </div>
    <%- include(urls.footer_navbar.footer(), locals) %>
</body>
</html>

<script>
    $(document).ready(async function() {
        const container = $(".container-of-all-collections");

        const getPopularCollectionsUrl = "<%- urls.collection_interactions_orchestration.getPopularCollections() %>";

        let collections = await get(getPopularCollectionsUrl,{});

        container.empty();

        for (const collection of collections) {
            const {id,name,owner,images,likes,comments} = collection;
            let imageThumbnail = (images.length > 0)? `<%= urls.collections.myCollectionsGetImage() %>${images[0]}`:"";
            if(images.length === 0)
                imageThumbnail = "<%= urls.default_image.image_url() %>";
            console.log(id, name, imageThumbnail);

            newCollectionCard(id, likes, comments, name, imageThumbnail, owner, container, false);
        }

    });
</script>