<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Collection</title>

    <%- include(urls.global_dependencies(), locals) %>
    <%- include("admin/-dependencies.ejs", locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include(urls.footer_navbar.navbar(), locals) %>

    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Report Card -->
                <div href="" class="click-url
                        not-draggable relative inline-block duration-300 ease-in-out
                        transition-transform transform hover:-translate-y-2 w-full
                        bg-white p-3 border-gray-700">
                    <%- include("-reported-card.ejs", locals ); %>
                    <div class="container-image overflow-hidden">
                        Loading...
                    </div>
                </div>

                <div class="my-4"></div>

                <div class="bg-white p-3">
                    <div class="reject-button left-side-button">
                        <span>
                            <button class="button button-gray">
                                Reject Report's
                            </button>
                        </span>
                    </div>
                    <div class="ban-collection left-side-button">
                        <span>
                            <button class="button button-red">
                              Ban Collection
                            </button>
                        </span>
                    </div>
                    <div class="ban-account-owner left-side-button">
                        <span>
                            <button class="button button-red">
                              Ban Collection’s Owner
                            </button>
                        </span>
                    </div>
                </div>
                <!-- End of left side -->
            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 mx-2 h-64">
                <!-- Reason -->
                <div class="bg-white p-3 rounded-sm">

                    <div class="grid grid-cols-1">
                        <div>
                            <div class="flex items-center space-x-2 font-semi-bold text-gray-900 leading-8 mb-3">
                                <span class="text-black">
                                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                    </svg>
                                </span>
                                <span class="tracking-wide border-b-4 border-b-black">
                                    <h1 class="text-2xl font-bold">Reason</h1>
                                </span>
                            </div>
                            <ul class="list-inside space-y-2">
                                <!-- Reason -->
                                <%- include("-reason-report-template.ejs", locals); %>
                                <div class="container-reason">
                                    Loading
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!-- End reason grid -->
                </div>
                <!-- End of detail report tab -->
            </div>
        </div>
    </div>
    <%- include(urls.footer_navbar.footer(), locals) %>
</body>
</html>

<script>
  let _collectionId = `<%= req.query.id ?? -1 %>`;
  let _ownerCollection;
  if (_collectionId === '-1') {
    window.location.href = "/";
  }
  else {
      (async function (){
            const collection = await get(`<%- urls.collection_interactions_orchestration.getSpecificCollection(req.query.id) %>`,{});
            const container = $(".container-image");
            container.empty();
            const reportsLength = collection.reports.length;
            const {id, name, owner, images} = collection;
            _ownerCollection = owner;
            const imageThumbnail = (images.length > 0)? `<%= urls.collections.myCollectionsGetImage() %>${images[0]}`:"";
            console.log(id, name, imageThumbnail)
            const urls = `<%= urls.collections.collectionDetailsPage() %>`;
            newReportCollectionCard(urls, id, reportsLength, owner, name, imageThumbnail, container);

            const reasonContainer = $(".container-reason");
            reasonContainer.empty();
            for (let i = 0; i < reportsLength; i++) {
                const {reportedBy, reason} = collection.reports[i];
                const createdAt = collection.reports[i].dateTime;

                newReasonCollection(reportedBy, reason, createdAt, reasonContainer);
            }
      })();
    }

    $(".reject-button").click(async function () {
      console.log("reject button clicked: ", _collectionId);
      const response = await post(
          `<%- urls.collection_interactions_orchestration.rejectReportCollection() %>`, {
          collectionId: _collectionId.toString()
      });
      console.log(response);
      window.location.href = "/";
    });

    $(".ban-collection").click(async function () {
        console.log("ban collection button clicked: ", _collectionId);
        const response = await post(
            `<%- urls.collection_interactions_orchestration.sendBanCollection() %>`, {
            collectionId: _collectionId.toString()
        });
        console.log(response);
        window.location.href = "/";
    });

    $(".ban-account-owner").click(async function () {
        console.log("ban account owner button clicked: ", _ownerCollection);
        const response = await post(
            `<%- urls.collection_interactions_orchestration.sendBanAccountOwner() %>`, {
            username: _ownerCollection
        });
        console.log(response);
        window.location.href = "/";
    });
</script>