<nav class="bg-white border-gray-200 dark:bg-gray-300" style=""
     id="navbar">
    <div class="flex flex-wrap items-center justify-between mx-auto p-1">
        <%- include(urls.footer_navbar.components.navbar_left(), locals); %>
        <%- include(urls.footer_navbar.components.search_bar(), locals); %>
        <%- include(urls.footer_navbar.components.navbar_show_mobile_modal_btn(), locals); %>
        <%- include(urls.footer_navbar.components.navbar_right(), locals); %>
    </div>
</nav>

<link rel="stylesheet" href="<%= urls.footer_navbar.css.navbarCss() %>" />
<script src="<%= urls.footer_navbar.js.logout() %>"></script>

<script>
    // Get the value of the "userIsAdmin" cookie
    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        return parts[1];
    }

    // Change the href attribute based on the "userIsAdmin" cookie
    const isAdmin = getCookie("userIsAdmin");
    if (isAdmin === "true") {
        const downloadsLink = document.getElementById("downloadsLink");
        downloadsLink.href = "<%= urls.admin.adminDownloadPage() %>"
    }
</script>